



#menu-outer {
	height: 84px;
	background: url(images/bar-bg.jpg) repeat-x
	color: white;
	
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
	color: white;
}
.table ul li a{
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
	color: white;
}
ul#horizontal-list ul li a{
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	color: white;
	}
	ul#horizontal-list li a {
		display: inline;
		color: white;
	}
/* thew above code is from https://css-tricks.com/centering-list-items-horizontally-slightly-trickier-than-you-might-think/  it all works i have my horizontal menus*/

body {
text-align: center;
background-color: blue;
color: white;
}

ul {
color: white;
}

#horizontal-list a {
color: white;
}
#table a {
color: white;
}

