ol,ul {
	list-style: none;
}


#nav {
	margin: 0px;
	width:2000px;
	font-family: sans-serif;
}


#nav li {
	display:block;
	width:200px;
	float: left;
	margin-left:0px;
	border:1px solid #000;
}

#nav a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#009;
}
		